<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>
    <iisnode 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
    />
  </system.webServer>
</configuration>
