<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the app.js file is the entry point for the app -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for static files -->
        <rule name="StaticContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <!-- Allow large files to be uploaded -->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <!-- Ensure node.js errors are captured in the event log -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
